.overlay {
  top: -100vh;
  position: absolute;
  min-height: 100vh;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.4s;
}

.visible {
  transform: translateY(100vh);
}

.formContainer {
  position: relative;
  background-color: white;
}

.form {
  position: relative;
  width: 95%;
  max-width: 1200px;
  min-height: 600px;
  margin-inline: auto;
  padding-top: 3rem;
}

@media screen and (min-width: 600px) {
  .form {
    padding-top: 6rem;
    min-height: 500px;
  }
}

.searchMobileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

@media screen and (min-width: 600px) {
  .searchMobileHeader {
    display: none;
  }
}

.searchButton {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
}

@media screen and (min-width: 600px) {
  .searchButton {
    left: auto;
    right: 2rem;
    bottom: 21.8rem;
    transform: translateX(0);
  }
}
